
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />
    <!-- <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" /> -->
    <link th:href="@{static/css/style-template.css}" href="../static/css/style-template.css" rel="stylesheet" />
    <link href="css/style-main.css" rel="stylesheet" />
    <link href="css/overriding.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
